table#locs {
  text-align: right;
  clear: both;
}

table#locs td:nth-child(1) {
  text-align: left;
}

table#locs tr:nth-child(1) {
  text-align: left;
}

div#plot {
  float: left;
}

div#screenshot {
  float: left;
}